{% extends '_base.html.twig' %}

{% block aboutLinkStyle %}current_page{% endblock %}

{% block title %}about{% endblock %}

{% block main %}
    <h1>
        About us
    </h1>

    <p>
        We are SmithIT.eu
    </p>
    <p>
        We are based in Dublin.
    </p>
    <p>
        We were established in 2007.
    </p>
    <p>
        We sell computers and computer services - and host this great movie voting site!.
    </p>
{% endblock %}